.about-section {
  padding: 2rem;
  background-color: #000;
  color: #fff;
}

.about-section h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.skill-bar {
  background-color: #e5e7eb;
  height: 0.5rem;
  border-radius: 9999px;
}

.skill-fill {
  background-color: #ec4899;
  height: 100%;
  border-radius: 9999px;
}