.intro-screen {
  background-color: black;
  color: #00ff00;
  font-family: 'Courier New', Courier, monospace;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.type {
  font-size: 2rem;
}

.blinking {
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.hint-fade {
  margin-top: 1rem;
  font-size: 1rem;
  color: #00ff00;
  opacity: 0;
  animation: fadeIn 2s ease-in forwards;
  animation-delay: 1s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.fade-out {
  animation: fadeOut 0.8s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
